:root{

    --cor-bloco-exibicao: #837773;
    --cor-fundo: #8C9195;
    --cor-navegacao: #2E303A;
    --cor-texto-geral: #2E303A;
    --cor-botao: #7F6881;

    --fonte-1: "Open Sans", sans-serif;
    --fonte-2: "Montserrat", sans-serif;
}


*{
    margin: 0;
    padding: 0;
    font-family: var(--fonte-2);
}

body{
    background-color: var(--cor-fundo);
}

html{
    scroll-behavior: smooth;
    font-size: 62.5%;
}

ul,ol{
    list-style: none;
}

a{
    text-decoration: none;
}

h1{
    font-size: 4rem;
    font-family: var(--fonte-1);
}

h2{
    font-size: 2.8rem;
    font-weight: 600;
}

p{
    font-size: 2.4rem;
}



header{ 
    width: 100%;
    height: 10vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-navegacao);

    & ul {
        display: flex;
        flex-direction: row;
        gap: 3rem;
    }

    & a{
        color: white;
        font-size: 3rem;
        font-weight: 600; 
    }

}

footer{
    background-color: var(--cor-navegacao);
}

.conteiner_css{
    height: 100vh;
    width: 100%;
}

.color-card{
    background-color: var(--cor-bloco-exibicao);
}

.color-btn{
    background: var(--cor-botao);
}

.font_btn{
    font-size: 3rem;
}

.font_big{
    font-size: 6.4rem;
    font-weight: 600;
}

.foto_home {
    width: 28.4rem;
    height: auto;
    border-radius: 14rem;
}

.gap{
    gap: 2.8rem;
}

