:root{

    --cor-bloco-exibicao: #837773;
    --cor-fundo: #8C9195;
    --cor-texto-geral: #2E303A;  
    
    --fonte-1: "Open Sans", sans-serif;
    --fonte-2: "Montserrat", sans-serif;
}


*{
    margin: 0;
    padding: 0;
    font-family: var(--fonte-2);
}

body{
    background-color: var(--cor-fundo);
}

html{
    scroll-behavior: smooth;
    font-size: 62.5%;
}

ul,ol{
    list-style: none;
}

a{
    text-decoration: none;
}

h1{
    font-size: 4rem;
    font-family: var(--fonte-1);
}

h2{
    font-size: 2.8rem;
}

p{
    font-size: 2.4rem;
}



header{ 

    & ul {
        display: flex;
        flex-direction: row;
        gap: 3rem;
    }

    & a{
        color: white;
        font-size: 2.9rem;
        font-weight: 600; 
    }

}

.color-card{
    background-color: var(--cor-bloco-exibicao);
}

.font_big{
    font-size: 6.4rem;
    font-weight: 600;
}

.foto_home {
    width: 28rem;
    height: auto;
    border-radius: 14rem;
}

.gap{
    gap: 2.8rem;
}

