:root {
    --cor-bloco-exibicao: #D9D9D9;
    --cor-fundo: #1E293B;
    --cor-navegacao: #0C121C;
    --cor-texto: #B8BFC6;
    --cor-botao: #7F6881;

    --fonte-1: "Open Sans", sans-serif;
    --fonte-2: "Montserrat", sans-serif;

    --gradiente: linear-gradient(
    0deg,
    hsl(217deg 33% 17%) 0%,
    hsl(217deg 33% 17%) 4%,
    hsl(217deg 33% 17%) 8%,
    hsl(217deg 33% 16%) 12%,
    hsl(217deg 33% 16%) 16%,
    hsl(217deg 33% 15%) 20%,
    hsl(217deg 33% 15%) 24%,
    hsl(217deg 33% 15%) 28%,
    hsl(217deg 33% 14%) 32%,
    hsl(217deg 33% 14%) 36%,
    hsl(217deg 33% 13%) 40%,
    hsl(217deg 34% 13%) 44%,
    hsl(217deg 34% 13%) 48%,
    hsl(217deg 34% 12%) 52%,
    hsl(217deg 34% 12%) 57%,
    hsl(217deg 34% 11%) 61%,
    hsl(217deg 34% 11%) 65%,
    hsl(217deg 34% 11%) 69%,
    hsl(217deg 35% 10%) 73%,
    hsl(217deg 35% 10%) 77%,
    hsl(218deg 35% 10%) 82%,
    hsl(218deg 36% 9%) 86%,
    hsl(218deg 37% 9%) 90%,
    hsl(218deg 38% 8%) 95%,
    hsl(218deg 40% 8%) 100%
    );
}

*{
    font-family: var(--fonte-2);
    margin: 0;
    padding: 0; 
}

html{
    scroll-behavior: smooth;
    font-size: 62.5%;
}

ul,ol{
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--cor-texto);
}

/* configuração padrão */
.conteiner{
    width: 100%;
    height: 100vh;
    background-color: var(--cor-fundo);
    
}


header{
    width: 100%;
    height: 8rem;
    background-image: var(--gradiente);
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
    & ul{
        display: flex;
        gap: 2rem;
    }
}

.conteiner-grid-1 {
    width: 100%;
    display: grid;
    text-align: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}



.projeto{
    background-color: var(--cor-bloco-exibicao);
    border-radius: 1rem;
    width: 25rem;
    height: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    
}

.certificado{
    background-color: var(--cor-bloco-exibicao);
    border-radius: 1rem;
    width: 40rem;
    height: 35rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    padding: 2rem;
}

.align-items{
    display: flex;
    align-items: center;
}

.centralizacao{
    padding: 0 3rem;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem
}

.display-column{
    display: flex;
    flex-direction: column;
}

.display-rows{
    display: flex;
    flex-direction: row;
}

.hero{
    text-align: center;
    min-height: calc(100vh - 8rem);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.foto{
    width: 20%;
    border-radius: 100%;
}

.foto-projeto{
    width: 50%;
    border-radius: 1rem;
}

.titulo{
    font-size: 4.8rem;
    color: var(--cor-texto);
}

.sub-titulo{
    font-size: 3rem;
    color: var(--cor-texto);
}

.sub-titulo-2{
    font-size: 3rem;
    color: var(--cor-fundo);
}

.texto{
    font-size: 2.4rem;
    color: var(--cor-texto);
}

.texto-2{
    font-size: 2rem;
    color: var(--cor-fundo);
}


.btn{
    font-size: 3rem;
    background-color: var(--cor-botao);
    border-radius: 20rem;
    padding: 1rem 2.5rem;
}

.btn-2{
    font-size: 2rem;
    background-color: var(--cor-botao);
    border-radius: 20rem;
    padding: 1rem 2.5rem;
}

.org-botao{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    padding: 1rem 0;
}

.gap{
    gap: 5rem ;
}
